.container-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width: 1020px) {
        padding: 5px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: left;
    @media (max-width: 1020px) {
        flex-direction: column;
        justify-content: center;
    }
}

.skill-title {
    color: white;
    margin-left: 20px;
    letter-spacing: 1.5px;
    @media (max-width: 1020px) {
        font-size: 20px;
    }
}
