.container-skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 1020px) {
    padding: 5px;
  }
}

.cards-skills {
  display: flex;
  width: 100%;
  @media (max-width: 1020px) {
    flex-direction: column;
    justify-content: center;
  }
}

.skill-title {
  color: white;
  margin-left: 20px;
  letter-spacing: 1.5px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  @media (max-width: 1020px) {
    font-size: 20px;
  }
}
