.container-certificate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(30px);
  background-color: rgba(187, 187, 187, 0.308);
  color: white;
}

.certificate-img {
  align-self: flex-start;
  margin: auto;
  width: 100%;
  height: 100%;
}

.informations {
  width: 100%;
  padding: 10px;
}

.title {
  font-size: 20px;
}

.description {
  font-size: 12px;
  color: rgb(200, 200, 200);
}

.skills {
  display: flex;
  flex-direction: column;
}

.skill-icon {
  width: 30px;
  height: 30px;
}

.date-course,
.institution,
.url {
  font-size: 12px;
}
