.container-certificate {
  margin: 10px;
  display: flex;
  justify-content: left;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  color: white;
  margin-top: 10px;
}

.certificate-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.informations {
  backdrop-filter: blur(30px);
  background-color: rgba(187, 187, 187, 0.308);
  width: 50%;
  border-left: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
}

.title {
  font-size: 27px;
}

.description {
  font-size: 13px;
  color: rgb(200, 200, 200);
}

.skill-icon {
  width: 40px;
  height: 40px;
}

.date,
.institution,
.url {
  font-size: 15px;
}
