.certificates-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding: 5px;
}

.two-cards {
  display: flex;
  justify-content: center;
  @media (max-width: 1020px) {
    flex-direction: column;
  }
}
