.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 10%;
}

.logo img {
  width: 25px;
  height: 25px;
}

.logo p {
  color: white;
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  width: 40%;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: ease 0.3s;
  height: 100%;
}

.link:hover {
  color: var(--primary-color);
  transition: ease 0.3s;
  font-weight: 600;
}

.active-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: ease 0.3s;
  height: 100%;
  border-bottom: 2px solid var(--primary-color); /* Borda branca na parte inferior do link ativo */
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons svg {
  color: var(--primary-color);
  font-size: 16px;
  margin: 5px;
  transition: ease 0.3s;
}

.icons svg:hover {
  color: white;
  transition: ease 0.3s;
}
