.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 10%;
}

.logo img {
  width: 25px;
  height: 25px;
}

.logo p {
  color: white;
  margin-left: 10px;
  font-weight: 500;
  font-size: 18px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  width: 40%;
}

.link {
  text-decoration: none;
  color: white;
  transition: ease 0.3s;
}

.link:hover {
  color: #00d6c4;
  transition: ease 0.3s;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4%;
}

.icons svg {
  color: white;
  font-size: 15px;
}
