.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo p {
    color: white;
    margin-left: 10px;
    font-size: 17px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 14px;
}

.menu-link {
    color: white;
    text-decoration: none;
    transition: ease 0.3s;
}

.menu-link:hover {
    color: #00d6c4;
    transition: ease 0.3s;
}
