.card-project {
    display: flex;
    position: relative;
    width: 80%;
    margin-top: 20px;
    padding: 30px;
    backdrop-filter: blur(20px);
    background-color: rgba(190, 189, 189, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    text-align: center;
    gap: 20px;
    color: #fff;
    transition: all 0.3s ease;
    @media (max-width: 1020px) {
        width: 100%;
        flex-direction: column;
    }
}

.social-media-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-picture {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media (max-width: 1020px) {
        width: 100%;
      }
}

.project-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.project-picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(109, 1, 93, 0.21);
    transition: opacity 0.3s ease;
    opacity: 1;
}

.project-picture:hover::before {
    opacity: 0;
}


.project-infos {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.project-infos a {
    color: white;
}

.project-infos a:hover {
    transition: 0.5s;
    color: rgb(255, 77, 121);
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    width: 30%;
    @media (max-width: 1020px) {
        width: 100%;
      }
}