.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.text {
  display: flex;
  width: 50%;
  height: 300px;
  flex-direction: column;
  color: white;
}

.title-text {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.subtitle-text {
  font-weight: 600;
  color: rgb(2, 221, 221);
  margin-left: 5px;
}

.content-text {
  margin-left: 5px;
  color: rgb(198, 197, 199);
}
