.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  @media (max-width: 1020px) {
    justify-content: center;
    padding: 15px;
    flex-direction: column;
  }
}

.developer {
  color: var(--primary-color);
}

.welcome {
  font-size: 12px;
  color: rgb(198, 197, 199);
  letter-spacing: 0.5px;
  font-weight: 300;
  @media (max-width: 1020px) {
    letter-spacing: 0px;
  }
}

.apresentation-text {
  margin-top: 20px;
  max-width: 500px;
  margin-left: 20px;
  color: rgb(198, 197, 199);
  @media (max-width: 1020px) {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
  }
}

.text {
  display: flex;
  height: 300px;
  flex-direction: column;
  color: white;
  margin-left: 10px;
  @media (max-width: 1020px) {
    margin-left: 0px;
    width: 100%;
  }
}

.profile {
  display: flex;
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  box-shadow: 0 0 25px var(--primary-color);
  animation: pulse 2s infinite;
  @media (max-width: 1020px) {
    width: 70%;
    margin-top: -150px;
    justify-content: right;
  }
}

.container-profile {
  display: flex;
  justify-content: right;
  width: 80%;
  @media (max-width: 1020px) {
    margin-top: 100px;
    width: 100%;
  }
}

.profile img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.title-text {
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 50px;
  @media (max-width: 1020px) {
    font-size: 25px;
    letter-spacing: 1px;
  }
}

.subtitle-text {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  @media (max-width: 1020px) {
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 0px;
  }
}

.content-text {
  font-size: 15px;
  margin-left: 20px;
  color: rgb(198, 197, 199);
  @media (max-width: 1020px) {
    font-size: 13px;
    margin-left: 0px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px var(--primary-color); /* Sombras iniciais */
  }
  50% {
    box-shadow: 0 0 20px var(--primary-color); /* Sombras no meio da animação (mais intensa) */
  }
  100% {
    box-shadow: 0 0 10px var(--primary-color); /* Sombras finais (como no início) */
  }
}
