.timelines {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: 200px;
  @media (max-width: 1020px) {
    margin-top: 100px;
  }
}

.title-timeline {
  color: white;
  border-bottom: 1px solid var(--primary-color);
  font-size: 25px;
  width: 30%;
  font-weight: 600;
  letter-spacing: 1.5px;
  @media (max-width: 1020px) {
    font-size: 20px;
    letter-spacing: 0px;
    width: 60%;
  }
}

.timeline-components {
  display: flex;
  flex-direction: column;
}
